
<head>
    <title>Productos</title>
</head>


<div class="row mt-2 mr-1">
    <div class="container mr-1">
        <div class="row form-group justify-content-center text-center">

            <div class="col-md-12 formulario">
                <table class="table caption-top table-info" id="products-reportes">

                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre Producto</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">precio</th>
                            <th scope="col">Cantidad</th>
                            
                            <th scope="col">Categoria</th>
                            <th scope="col">Proveedor</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each productos}}
                        <tr>
                            <th scope="row">{{ @index }}</th>
                            <td>{{ this.nombre }}</td>
                            <td>{{ this.descripcion }}</td>
                            <td>${{ this.precio }}</td>
                            <td>{{ this.cantidad }}</td>
                            
                            <td>{{ this.categoria.nombre }}</td>
                            <td>{{ this.proveedor.nombre }}</td>
                        </tr>
                        {{/each}}


                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Producto</h5>
                <button type="button" class="btn-close btn-info" data-bs-dismiss="modal" aria-label="Close"><i class="far fa-times-circle"></i></button>
            </div>
            <div class="modal-body">
                <form action="productos/new" method="POST" enctype="multipart/form-data" class="row g-3">
                    <div class="col-md-4">
                        <label for="inputEmail4" class="form-label">Nombre</label>
                        <input type="text" name="nombre" class="form-control" id="inputEmail4" required>
                    </div>
                    <div class="col-md-4">
                        <label for="inputPassword4" class="form-label">Nombre Proveedor</label>
                        <input type="text" name="nombre_prov" class="form-control" id="inputPassword4" required>
                    </div>
                    <div class="col-md-4">
                        <label for="inputPassword4" class="form-label">Categoria</label>
                        <input type="text" name="nombre_cat" class="form-control" id="inputPassword4" required>
                    </div>
                    <div class="col-md-4">
                        <label for="inputPassword4" class="form-label">Detalles de Producto</label>
                        <textarea name="descripcion" class="form-control" required></textarea>
                    </div>
                    <div class="col-md-4">
                        <label for="inputPassword4" class="form-label">Dirección</label>
                        <textarea name="direccion_prov" class="form-control" required></textarea>
                    </div>
                    <div class="col-md-4">
                        <label for="inputPassword4" class="form-label">Descripcion</label>
                        <input type="text" name="descripcion_cat" class="form-control" id="inputPassword4" required>
                    </div>

                    <div class="col-md-4">
                        <label for="inputEmail4" class="form-label">Modelo</label>
                        <input type="text" name="modelo" class="form-control" id="inputEmail4" required>
                    </div>
                    <div class="col-md-4">
                        <label for="inputPassword4" class="form-label">Correo</label>
                        <input type="email" name="email_prov" class="form-control" id="inputPassword4" required>
                    </div>
                    
                    <div class="col-md-4">
                        <label for="inputAddress" class="form-label">Cantidad</label>
                        <input type="number" name="cantidad" min="1" class="form-control" id="inputAddress" required>
                    </div> 

                    <div class="col-md-4">
                        <label for="inputAddress" class="form-label">Precio</label>
                        <input type="number" name="precio" min="1"  class="form-control" id="inputAddress" required>
                    </div>                                               
                    
                    <div class="col-md-4">
                        <label for="inputAddress" class="form-label">Telefono</label>
                        <input type="number" name="telefono_prov" class="form-control" id="inputAddress" required>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="formFile" class="form-label">imagen </label>
                        <input class="form-control"  name="imagen" type="file" id="formFile" required>
                    </div>

                    <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Agregar</button>
            </div>

                
                </form>
            </div>
            
        </div>
    </div>
</div>
